Repository sky-uk/toolkit, pull requests merged in 2018-11, with the labels that each got.

#466 Tile gradient for new Ultimate On Demand tiles
  packages/sky-toolkit-core/settings/_gradients.scss
  packages/sky-toolkit-core/utilities/_defence.scss
  packages/sky-toolkit-ui/components/_tile.scss
Labels: ready

#457 [refs #tkt-456] Add huge spacing
  packages/sky-toolkit-core/docs/settings/globals.md
  packages/sky-toolkit-core/docs/utilities/spacing.md
  packages/sky-toolkit-core/settings/_globals.scss
  packages/sky-toolkit-core/utilities/_spacing.scss
Labels: enhancement, toolkit-core

#468 Add Sky Mobile gradient
  packages/sky-toolkit-core/settings/_gradients.scss
  packages/sky-toolkit-core/utilities/_defence.scss
  packages/sky-toolkit-ui/components/_tile.scss
Labels: feature, toolkit-core
