Repository sky-uk/toolkit, pull requests merged in 2018-06, with the labels that each got.

#429 Update Issue Templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: chore, enhancement

#422 Allow access to Preview over IP
  preview/webpack.config.js
Labels: bug, ready

#434 [Modal] Hide close label on mobile
  packages/sky-toolkit-ui/components/_modal.scss
  packages/sky-toolkit-ui/docs/components/modal.md
Labels: toolkit-ui

#435 Scope form `.is-error` styles 🚨
  packages/sky-toolkit-ui/components/_forms.scss
Labels: bug, toolkit-ui

#432 Enable display of form group <legends>
  packages/sky-toolkit-core/docs/tools/mixins.md
  packages/sky-toolkit-core/elements/_forms.scss
  packages/sky-toolkit-core/tools/_functions.scss
  packages/sky-toolkit-core/tools/_mixins.scss
  packages/sky-toolkit-ui/components/_forms.scss
  packages/sky-toolkit-ui/docs/components/forms.md
Labels: feature-missing, ready, toolkit-core, toolkit-ui
